/*границы */
* {
    outline: 1px solid red;
}
.page {
    max-width: 1440px;
    margin: 0 auto;
  }
  /*у всех ссылок убрали подчеркивание нижнее*/
  a {
    text-decoration: none;
  }
  .header {
    position: relative;
    display: flex;
    flex-direction: row;
    /*чтоб лого стоял +- по середине и не было скролла*/
    justify-content: space-between;
    color: black;
    margin: 92px 50px;
  }
  .menu {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 43px 0px;
    margin: 0px;
    max-width: 388px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  a:link {
    /*ссылки не горят синим*/
    color: black;
    cursor: pointer;
  }
  .menu-point {
      padding: 0px 32px 0px 0px;
      list-style-type: circle;
      text-decoration: underline;
    }
    .menu-point:first-of-type {
      list-style: none;
      text-decoration: none;
    }
    .menu-point:last-of-type {
      padding: 0px;
    }
    .contacts {
      position: relative;
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0px;
      padding: 5px 0px 7px 0px;
      max-width: 240px;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24.3px;
    }
    .contacts-point {
      /*подчеркнули ссылки*/
      text-decoration: underline;
    }
    .contacts-place {
      /*убрали подчеркивание у последней*/
      text-decoration: none;
    }
    .logo-black {
      width: 148px;
      height: 105px;
    }
  .flowers {
    background-image: url('../images/cover.jpg');
    /*чтоб элементы блока с позицией абсолют не вышли за рамки блока*/
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 757px;
    /*благодаря cover картинка вполностью влезает*/
    background-size: cover;
    background-position: center;
    color: white;
    /*чтоб затемнение не перекрывало текст*/
    z-index: 1;
  }
  /*затемнение*/
  .flowers::before {
      content: "";
      position: absolute;
      /*чтоб на всю секцию растянулся*/
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      /*прозрачность*/
      opacity: 0.6;
      background-color: black;
    }
    .title { 
        margin: 165px 50px 0px;
        /*в несколько строк текст*/
        white-space: break-spaces;
        /*хорошо стоят заголовки*/
        display: flex;
        flex-direction: column;
    }
     .span {
        /*общие параметры*/
        position: relative;
        padding: 0px;
        max-width: 1340px;
        z-index: 2;
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 30px;
        text-transform: uppercase;
    } 
    .span__ono {
      text-align: left;
      margin: 0px;
    }
    .span__tebe {
      text-align: center;
      margin: 20px 0px;
    }
    .span__nado {
      text-align: right;
      margin: 0px;
    }
    .text {
      /*флекс общий*/
      display: flex;
      flex-direction: row;
    }
    .subtitle {
      position: relative;
      box-sizing: border-box;
      text-align: center;
      /*текст в одну строку*/
      white-space: nowrap;
      /*left отступ auto чтоб скролла не было*/
      margin: 147px 78px 62px auto;
      max-width: 633px;
      font-size: 22px;
      font-style: normal;
      /*тоньше должен быть*/
      font-weight: 400;
      line-height: 28px;
      text-transform: uppercase;
    }
    .button {
      position: relative;
      text-align: center;
      font-family: "Raleway", sans-serif;
      margin: 135px 50px 50px 78px;
      padding: 12px 32px 12px 32px;
      border: 1px solid white;
      /*прозрачный фон*/
      background-color: transparent;
      color: white;
      /*текст в одну строку*/
      white-space: nowrap;
      font-size: 22 px;
      font-style: normal;
      /*тоньше должен быть*/
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  .lots {
    position: relative;
    margin: 180px 50px 0px 50px;
  }
  .lots__title {
    /*чтоб не было скролла правый отступ auto*/
    margin: 0px auto 0px 40px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .cards {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 27px auto 30px;
  }
  .card {
    /*без относительной позиции затемнение наслаивается*/
    position: relative;
    max-width: 430px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    /*благодаря cover картинка вполностью влезает*/
    background-size: cover;
    background-position: center;
    color: white;
  }
  .card__boy {
    background-image: url('../images/card-lot-01.jpg');
  }
  .card__book {
    background-image: url('../images/card-lot-02.jpg');
  }
  .card__art {
    background-image: url('../images/card-lot-03.jpg');
  }
  .overlay {
    /*каждой карточке поставили доп элемент*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000;
  }
  
  .text-title {
    margin: 0;
    padding: 50px 40px 0px;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
  }
  .text-subtitle {
    margin: 0px;
    padding: 0px 40px 50px 40px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
  }
  .info {
    margin: 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
  }
  .about {
    margin: 182px 50px 180px;
    position: relative;
  }
  .column {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .about-column {
    display: flex;
    flex-direction: row;
    margin: 0px;
    max-width: 430px;
    height: 240px;
  }
  .circle {
    width: 240px;
    height: 240px;
    margin: 0px 95px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
  }
  
  .logo {
      max-width: 148px;
      min-height: 114px;
      background-color: #000000;
  }
  .text-column {
    position: relative;
    /*чтоб не было скролла*/
    margin: 0px 0px 0px 25px;
    max-width: 885px;
    min-width: 400px;
  }
  .about-title {
    /*чтоб не было скролла right отступ убрали*/
    margin: 100px auto 100px 0px;
  }
  .about-text {
    margin: auto;
    padding: 25px 0px 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .about-text:first-of-type {
    padding-top: 0px;
  }
  .footer {
    /*вывалился на 1000px*/
    position: relative;
    margin: 0px 50px 90px;
  }
  .footer-data {
    /*общий флекс*/
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
  }
  .footer-contacts {
    padding: 0px;
  }
  .footer-information {
    list-style: none;
    /*list-style-type: none;*/
    max-width: 149px;
    /*нет боковых маржинов - нет скролла*/
    margin: 0px auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  .footer-info {
    /*подчеркнули ссылки*/
    text-decoration: underline;
    /*убрали точки у списка nav*/
    list-style-type: none;
  }
  .footer-info:first-of-type {
    text-decoration: none;
  }
  .socials {
    /*к правому краю прибили*/
    margin: 0px;
    display: flex;
    /*вместо правых отступов*/
    gap: 48px;
  }
  .icon {
    max-width: 48px;
    min-height: 48px;
  }
  .icon:last-of-type {
    padding-right: 0px;
  }